<div class="outer">
  <div class="fret-container">
    <div class="fret" [ngStyle]="{'height': fretHeight(0) + '%', 'font-size': fretHeight(0) + '%'}">
    <div *ngFor="let string of strings; let stringIndex = index" class="string-container"  [ngClass]="{'highlight': string == staffNote || fretStringNote == string}">
      <div class="note-container">
        <div class="string"></div>
        <div class="note" [ngStyle]="{'font-size': fretHeight(0) + '%'}">{{ string }}</div>
      </div>
      <div class="string"></div>
      </div>
    </div>
    <ng-container *ngFor="let fret of frets; let fretIndex = index">
      <div class="fret" [ngStyle]="{'height': fretHeight(fretIndex) + '%', 'font-size': fretHeight(fretIndex) + '%'}">
        
        <div *ngFor="let string of strings; let stringIndex = index" class="string-container"  [ngClass]="{'mark': fret.mark, 'highlight': getNoteForFretString(fretIndex, stringIndex) == staffNote || fretStringNote == getNoteForFretString(fretIndex, stringIndex)}" (mouseover)="onMouseOverString(fretIndex, stringIndex)">
          <div class="note-container">
            <div class="string"></div>

            <div class="note" [ngStyle]="{'font-size': fretHeight(fretIndex) + '%'}">{{ getNoteForFretString(fretIndex, stringIndex) }}</div>
          </div>
          <div class="string"></div>
          
        </div>
      </div>
    </ng-container>
  </div>

  <div class="staff-container">
    <div *ngFor="let line of staffLines; let i = index; let odd = odd; let even = even" class="staff-line" [ngClass]="{'odd': odd, 'even': even, 'highlight': staffNote === line || fretStringNote === line}" (mouseover)="onMouseOverStaff(i)">
      <div class="note-wrapper">
        <div [ngClass]="{'staff-line-long': isLedgerLong(i)}"></div>
        <div [ngClass]="{'staff-line-long': isLedgerLong(i), 'staff-line-short': isLedgerShort(i)}"></div>
        <div class="note-container">
          <div class="note">{{ line }}</div>
        </div>
        <div [ngClass]="{'staff-line-long': isLedgerLong(i), 'staff-line-short': isLedgerShort(i)}"></div>
        <div [ngClass]="{'staff-line-long': isLedgerLong(i)}"></div>
      </div>
    </div>
  </div>

</div>
